<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css-reset.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>About Me</title>
</head>
	<h1>Created by Shashike J</h1>

<body>

</body>
</html>