<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css-reset.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Favourites</title>
</head>
	<h1>My Favourite Websites</h1>

<body>
	<div class="favwrapper">
		<div class="favourites">
			<nav class="favlist">
				<ul>
					<% @favs.each do |fav| %>
						<li class="favlist"> <%= fav %> </li>
					<% end %>
				</ul>
			</nav>
		</div>
	 

</body>
</html>